<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/locadora.log</file> <!-- Nome e local do arquivo de log -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>